<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Campamento</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="module">
        import { createApp } from 'https://unpkg.com/petite-vue?module'


        createApp({
            // exposed to all expressions
            members: 0,
            isReady: false,
            newRegister: [],
            registCorrect: false,
            registIncorrect: false,
            fechaCamp: "",
            tienda: "",
            urldev: "http://localhost:8000",
            urlprod: "https://campapas.herokuapp.com",
            // methods
            confirmar() {
                this.isReady = true
                for (let index = 0; index < this.members; index++) {
                    this.newRegister.push({
                        name: "",
                        section: "",
                    })
                }

                console.log(this.members)
            },

            eliminar() {
                this.newRegister = []
                this.isReady = false
                this.members = 0
            },

            addRegisters() {

                this.newRegister.map(member => {
                    console.log(member)
                })

                let otherQuestions = {
                    fechaCamp: this.fechaCamp,
                    tienda: this.tienda
                }

                axios.post(this.urldev + "/addUsers", this.newRegister)
                    .then(response => {

                        axios.post(this.urldev + "/addOtherCuestions", otherQuestions)

                        setTimeout(() => {
                            this.newRegister = []
                            this.isReady = false
                            this.members = 0
                            this.registCorrect = true
                        }, 2000);

                        setTimeout(() => {
                            this.registCorrect = false
                        }, 1000);

                    })
                    .catch(error => {

                        setTimeout(() => {
                            this.newRegister = []
                            this.isReady = false
                            this.members = 0
                            this.registIncorrect = true
                        }, 2000);


                        setTimeout(() => {
                            this.registIncorrect = false
                        }, 1000);
                    })
            }
        }).mount()
    </script>

    <!-- Navegacion -->
    <nav class="navbar nav-color">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="#">
                <img src="/static/kuKkl-3umjcxz6q45aehbve4rsdiz6.png" alt="" width="60" height="60"
                    class="d-inline-block align-middle">
                Registro Campapás
            </a>
        </div>
    </nav>

    <div class="container mt-5" v-scope>

        <div class="alert alert-success mb-5 w-50 mx-auto" v-if="registCorrect" role="alert">
            ¡Gracias por Registrarte a Campapás!
        </div>

        <div class="alert alert-danger mb-5 w-50 mx-auto" v-if="registIncorrect" role="alert">
            Error al generar el registro, intentalo de nuevo por favor.
        </div>

        <div class="row g-3 mb-5 justify-content-start">
            <div class="col">
                <label for="Confirmados" class="form-label">Número de Miembros Confirmados</label>
                <div class="d-flex">
                    <input type="number" class="form-control w-25 me-4" id="Confirmados" v-model="members">
                    <button class="btn btn-primary d-flex" @click="confirmar()">Confirmar</button>
                    <button class="btn btn-danger d-flex ms-3" @click="eliminar()">Limpiar</button>
                </div>
            </div>
        </div>

        <div class="card mb-5" v-if="isReady" v-scope>
            <div class="card-body mx-3 px-5 py-4 mt-4">
                <p class="h4 mb-5">Datos de los miembros</p>
                <div class="row g-3 mb-4" v-for="member in newRegister" :key="member">
                    <div class="col">
                        <label for="NombreCompleto" class="form-label">Nombre Completo</label>
                        <input type="text" class="form-control" id="NombreCompleto" v-model.lazy="member.name">
                    </div>
                    <div class="col mb-3">
                        <label for="Seccion" class="form-label">Sección</label>
                        <select class="form-select" id="Seccion" v-model.lazy="member.section">
                            <option value="Papás o Invitado">Papás o Invitado</option>
                            <option value="Castores">Castores</option>
                            <option value="Manada">Manada</option>
                            <option value="Tropa">Tropa</option>
                            <option value="Comunidad De Caminantes">Comunidad De Caminantes</option>
                            <option value="Clan de Rovers">Clan de Rovers</option>
                            <option value="Scouters o Dirigentes">Scouters o Dirigentes</option>
                        </select>
                    </div>
                </div>

                <p class="h4 mt-5 mb-3">¿En que fecha te gustaría el campamento?</p>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="fecha" id="fecha1" value="Fecha1" v-model="fechaCamp">
                    <label class="form-check-label" for="fecha1"> 1, 2 y 3 de Julio</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="fecha" id="fecha2" value="Fecha2" v-model="fechaCamp">
                    <label class="form-check-label" for="fecha2">2 y 3 de Julio</label>
                </div>

                <p class="h4 mt-4 mb-3">¿Tienes Tienda de Campaña?</p>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="tiendaCampar" id="tienda1" value="TiendaYes" v-model="tienda">
                    <label class="form-check-label" for="tienda1">Si</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="tiendaCampar" id="tienda2" value="TiendaNo" v-model="tienda">
                    <label class="form-check-label" for="tienda2">No</label>
                </div>
            </div>



            <button class="btn btn-primary w-50 mx-auto mb-5" @click="addRegisters" v-scope>Enviar Registros</button>
        </div>

        <div v-else>
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
</body>

</html>